@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
}

.main-container {
    flex-grow: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.main-navigation {
    display: flex;
    padding-left: 72px;
    padding-right: 72px;
    height: 65px;
    justify-content: center;
}

.navigation-link-current {
    border-bottom: 2px solid #756257;
}

.navigation-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    margin-right: auto;
}

.navigation-list.navigation-user {
    margin-right: 0;
    margin-left: auto;
}

.navigation-user .navigation-link {
    min-width: 18px;
    min-height: 18px;
}

.sedona-logo {
    position: absolute;
    left: auto;
    right: auto;
}

.welcome {
    display: block;
    margin: 0 auto;
    height: 485px;
}

.welcome-to-sedona {
    padding-top: 50px;
}

.container-head-reasons {
    height: 282px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 23px;
}

.sedona-description {
    width: 720px;
}

.advantages-list {
    margin: 0;
    padding: 0;
}

.page-footer-container {
    display: flex;
    flex-direction: column;
}

.contacts {
    display: flex;
    height: 120px;
    align-items: center;
}

.contacts .phone-number {
    margin: 0 auto;
}

.filters-form {
    display: grid;
    grid-template-columns: 210px 310px 290px 160px;
}

.filter-group {
    border: 0;
    padding: 0;
}

.filter-list {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
}

.filter-item {
    margin-bottom: 13px;
}

.hotel-list-head {
    display: flex;
    height: 48px;
    margin: 48px 0;
    padding: 0;
}

.sorting-form {
    height: 100%;
    margin-left: auto;
    margin-right: 80px;
}

#sorting {
    height: 100%;
}

.hotel-list-head .button {
    display: block;
    width: 48px;
    height: 48px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    background: none;
    margin-left: 8px;
}

.hotel-list-head .button:nth-child(1) {
    background-image: url(../img/table.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.hotel-list-head .button:nth-child(2) {
    background-image: url(../img/slideshow.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.hotel-list-head .button:nth-child(3) {
    background-image: url(../img/list.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.cost-input {
    display: flex;
    width: 290px;
    margin-top: 30px;
}

.cost-label {
    position: absolute;
    width: 130px;
    height: 48px;
    color: rgba(255, 255, 255, 0.3);
    text-align: end;
    vertical-align: middle;
    padding-top: 12px;
}

.cost {
    display: inline-block;
    background: none;
    font-size: 18px;
    line-height: 23px;
    color: rgba(255, 255, 255);
    width: 130px;
    height: 48px;
    border: none;
    padding-left: 10px;
}

.cost-from {
    border: 2px solid #FFFFFF;
    border-radius: 4px 0 0 4px;
}

.cost-to {
    border: 2px solid #FFFFFF;
    border-radius: 0 4px 4px 0;
}

.cost-range-container {
    height: 48px;
    width: 290px;
}

.cost-range {
    width: 290px;
    position: absolute;
}

.page-navigation {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.num-per-page-form {
    height: 48px;
}

.num-per-page-options {
    width: 160px;
    height: 100%;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    margin-left: 50px;
    padding-left: 17px;
}

.hotels {
    display: flex;
    flex-direction: column;
    padding: 0 72px;
}

.pagination {
    margin-right: auto;
    display: flex;
    gap: 8px;
}

.links-list {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.advantages-list {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 384px 384px 384px 384px;
    grid-template-areas: "r1 r1 r1" "r1 r1 r1" "r2 r2 r2" "r3 r4 r5";
}

.advantages-description {
    width: 250px;
}

.reason-description {
    width: 250px;
}

.real-town {
    grid-area: r1;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 384px 384px;
    grid-template-areas: "reason photo photo" "r r r";
}

.container-town {
    grid-area: reason;
}

.real-town-img {
    grid-area: photo;
    display: block;
}

.real-town .advantages-description {
    width: 220px;
}

.real-town-reasons-list {
    grid-area: r;
    display: grid;
    grid-template-columns: 400px 400px 400px;
}

.real-town-reasons-item,
.container-advantage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}

.advantages-item:nth-child(2) {
    grid-area: r2;
    display: grid;
    grid-template-columns: 400px 400px 400px;
}

.devil-bridge-img {
    grid-column: 1/3;
    display: block;
}

.advantages-item:nth-child(3) {
    grid-area: r3;
}

.advantages-item:nth-child(4) {
    grid-area: r4;
}

.advantages-item:nth-child(5) {
    grid-area: r5;
}

.real-town-reasons-list {
    padding: 0;
    list-style-type: none;
}

.advantages-list {
    list-style-type: none;
}

.search-hotel {
    height: 417px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.interested-description {
    width: 720px;
}

.index-mailing {
    height: 411px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hotels-item {
    padding: 0;
    margin: 0;
}

.hotels-list {
    list-style-type: none;
    padding: 0;
}

.hotel-card {
    display: grid;
    grid-template-columns: auto 1fr 160px;
    column-gap: 37px;
    border-top: 1px solid #E6E6E6;
    padding-bottom: 28px;
    padding-top: 28px;
}

.hotel-description {
    height: 120px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 30px 53px 37px;
    column-gap: 8px;
}

.hotel-name {
    grid-column: 1/3;
    margin: 0;
}

.hotel-type,
.hotel-price {
    margin: 0;
}

.hotel-rank {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.stars {
    background-image: url('../img/star.svg');
    background-repeat: repeat-x;
    background-position-y: center;
    background-position-x: left;
    width: 18px;
    height: 18px;
}

.hotels-item:nth-child(1) .stars {
    width: 72px;
}

.hotels-item:nth-child(2) .stars {
    width: 54px;
}

.hotels-item:nth-child(3) .stars {
    width: 36px;
}

.hotels-item:nth-child(4) .stars {
    width: 36px;
}

.rank {
    display: block;
    background-color: background: #F2F2F2;
    border-radius: 4px;
    width: 160px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}

.button-more,
.button-favorite {
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
}

.pagination-item {
    display: block;
    width: 55px;
    height: 55px;
    background-color: #83B3D3;
    text-align: center;
    border-radius: 4px;
}

.pagination-current-item {
    background-color: #F2F2F2;
}

.main-index {
    text-align: center;
}

.page-header {
    color: #000000;
    background-color: #FFFFFF;
}

.navigation-link {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    text-align: center;
    background-color: #FFFFFF;
    text-decoration: none;
}

.button {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756257;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.welcome {
    background-image: url(../img/index-background.jpg);
}

.sedona-description,
.h2,
.interested {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(2) {
    background: #83B3D3;
    color: #FFFFFF;
}

.advantages-item:nth-child(2n+3) {
    background: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(1) ul {
    color: black;
    background-color: #ffffff;
}

.advantages-item:nth-child(1) .real-town-reasons-item:nth-child(2n+1) {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-last-child(2) {
    background: rgba(131, 179, 211, 0.2);
}

.advantages-name,
.reason-name {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
}

.advantages-list,
.real-town-reasons-list {
    font-size: 18px;
    line-height: 21px;
}

.phone-number {
    color: #000000;
    text-decoration: none;
    font-size: 40px;
    line-height: 40px;
}

.index-mailing {
    color: #ffffff;
}

.mailing-button {
    background-color: #83B3D3;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.pages-item {
    display: inline-block;
}

.pages-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.catalog-head {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #83B3D3;
    background: url(../img/catalog-background-filters.jpg);
    color: #ffffff;
    height: 408px;
    padding: 0 72px;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    margin-left: 80px;
    width: 160px;
}

.submit-button,
.reset-button {
    height: 48px;
    border: 0;
}

.submit-button {
    color: #ffffff;
    background-color: #83B3D3;
    line-height: 21px;
}

.reset-button {
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 400;
    color: #ffffff;
}

.searched {
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    margin: 0;
}

.button-more {
    font-size: 16px;
    background: #756257;
    color: #ffffff;
    width: 150px;
}

.button-favorite {
    font-size: 16px;
    background-color: #83B3D3;
    color: #ffffff;
    width: 160px;
}

.favorited {
    background-color: #7DB54F;
}

.rank {
    text-align: center;
    text-transform: uppercase;
    background: #F2F2F2;
}

.pagination-link {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding-top: 15px;
}

.pagination-current-link {
    color: #000000;
    background-color: #F2F2F2;
}

.hotels-list {
    margin: 0;
}

.show-more {
    margin: 0;
    display: block;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.button-show-more {
    margin: auto;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    background-color: #83B3D3;
    padding-bottom: 9px;
    padding-top: 9px;
    width: 625px;
    border: none;
}

.filter-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    margin: 0;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin-bottom: 0;
}

.page-footer {
    text-align: center;
    font-size: 22px;
    line-height: 26px;
}

.hotel-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
}

.search-hotel .button {
    font-size: 20px;
    width: 575px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.num-per-page {
    font-size: 18px;
    line-height: 23px;
}

.mailing-text {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 40px;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
    background-image: url('../img/heart.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.pages {
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 2px;
    margin-top: 10px;
    margin-bottom: 45px;
}

.pages-item {
    padding-right: 10px;
}

.pages-link {
    display: block;
}

.pages .pages-item:nth-child(1) .pages-link {
    min-width: 28px;
    min-height: 21px;
    background-image: url('../img/home2.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.links-list .links-item .button {
    display: block;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
}

.links-list .links-item:nth-child(1) .button {
    background-image: url('../img/twitter.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.links-list .links-item:nth-child(2) .button {
    background-image: url('../img/facebook.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.links-list .links-item:nth-child(3) .button {
    background-image: url('../img/youtube.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.index-mailing {
    background-image: url(../img/footer-background.jpg);
}

.mailing {
    padding-top: 70px;
    padding-bottom: 130px;
}

.mailing-form {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    display: grid;
    gap: 0;
    grid-template-columns: 3fr 1fr;
    height: 60px;
}

.mailing-form .mailing-email {
    margin: 0;
    width: 100%;
    height: 60px;
}

.mailing-form .mailing-email .field {
    margin: 0;
    width: 580px;
    font-size: 18px;
    line-height: 26px;
    padding: 0;
    padding-left: 20px;
    border: 0;
    color: #000000;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    height: 60px;
}

.mailing-form .mailing-button {
    border: 0;
    border-radius: 0px 10px 10px 0px;
    font-size: 20px;
    line-height: 26px;
    height: 60px;
}