@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
}

.main-container {
    flex-grow: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 1200px;
    text-align: center;
}

.main-navigation {
    display: flex;
    padding-left: 72px;
    padding-right: 72px;
    min-height: 65px;
    justify-content: center;
}

.navigation-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    align-items: center;
    margin-right: auto;
    max-width: 450px;
}

.navigation-list.navigation-user {
    margin: auto;
    margin-right: 0;
    gap: 20px;
    height: 37px;
    align-items: flex-start;
}

.sedona-logo {
    position: absolute;
    left: auto;
    right: auto;
}

.welcome {
    display: block;
    margin: 0 auto;
    height: 485px;
}

.welcome-to-sedona {
    padding-top: 50px;
}

.container-head-reasons {
    padding: 60px 0 64px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sedona-description {
    width: 720px;
    margin-top: 0;
    margin-bottom: 15px;
}

.advantages-list {
    margin: 0;
    padding: 0;
}

.page-footer-container {
    display: flex;
    flex-direction: column;
}

.contacts {
    display: flex;
    height: 120px;
    margin: 0 72px;
    align-items: center;
    justify-content: space-between;
}

.catalog-head {
    text-align: left;
}

.filters {
    padding: 0;
    margin: 0;
}

.filters-form {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 215px 310px 290px 160px;
}

.filter-group {
    border: 0;
    padding: 0;
}

.filter-list {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
}

.filter-item {
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
}

.hotel-list-head {
    display: flex;
    min-height: 48px;
    padding: 44px 0 42px 0;
}

.sorting-form {
    height: 100%;
    width: 287px;
    margin-left: auto;
    margin-right: 74px;
}

.sorting {
    height: 48px;
    width: 287px;
    padding-left: 18px;
    padding-right: 40px;
    font: inherit;
    font-size: 18px;
    line-height: 23px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    appearance: none;
    background-image: url(../img/select_arrow.svg);
    background-repeat: no-repeat;
    background-position: 253px 50%;
}

.sorting:: .sorting:hover,
.sorting:active,
.sorting:focus {
    border-color: #83B3D3;
}

.hotels-list {
    margin: 0;
    padding: 0;
}

.hotel-list-head .button {
    display: block;
    width: 44px;
    height: 44px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    background: none;
    margin-left: 8px;
}

.hotel-list-head .button:hover,
.hotel-list-head .button:active,
.hotel-list-head .button:focus {
    border-color: #83B3D3;
}

.hotel-list-head .button+.selected {
    border: 2px solid #000000;
}

.hotel-list-head .button:nth-of-type(1) {
    background-image: url(../img/table.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.hotel-list-head .button:nth-of-type(2) {
    background-image: url(../img/slideshow.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.hotel-list-head .button:nth-of-type(3) {
    background-image: url(../img/list.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.cost-input {
    display: flex;
    width: 290px;
    margin-top: 36px;
}

.cost-label {
    position: absolute;
    width: 130px;
    height: 48px;
    color: rgba(255, 255, 255, 0.3);
    text-align: end;
    padding-top: 12px;
    font-size: 18px;
    line-height: 23px;
}

.cost {
    display: inline-block;
    vertical-align: middle;
    font: inherit;
    background: none;
    font-size: 18px;
    line-height: 23px;
    color: rgba(255, 255, 255);
    width: 84px;
    height: 40px;
    border: none;
    padding-left: 16px;
    padding-right: 40px;
}

.cost-from {
    border: 2px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-radius: 4px 0 0 4px;
}

.cost-from:hover,
.cost-from:active,
.cost-from:focus,
.cost-to:hover,
.cost-to:active,
.cost-to:focus {
    border: 2px solid #83B3D3;
}

.cost-to {
    border: 2px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-radius: 0 4px 4px 0;
}

.page-navigation {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 8px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.num-per-page-form {
    height: 48px;
}

.num-per-page-options {
    width: 162px;
    height: 100%;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    margin-left: 46px;
    padding-left: 16px;
    padding-right: 40px;
    appearance: none;
    background-image: url(../img/select_arrow.svg);
    background-repeat: no-repeat;
    background-position: 126px 50%;
}

.num-per-page-options:hover,
.num-per-page-options:focus,
.num-per-page-options:active {
    border-color: #83B3D3;
}

.hotels {
    display: flex;
    flex-direction: column;
    padding: 0 72px;
}

.pagination {
    margin-right: auto;
    display: flex;
    gap: 8px;
    padding: 0;
}

.links-list {
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 25px;
}

.advantages-list {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "r1 r1 r1" "r1 r1 r1" "r2 r2 r2" "r3 r4 r5";
}

.advantages-description {
    width: 250px;
}

.reason-name {
    padding: 0;
    margin: 0;
}

.reason-description {
    padding: 0;
    margin: 0;
    width: 250px;
}

.real-town {
    grid-area: r1;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: auto auto;
    grid-template-areas: "reason photo photo" "r r r";
}

.container-town {
    grid-area: reason;
}

.real-town-img {
    grid-area: photo;
    display: block;
}

.real-town .advantages-description {
    width: 220px;
}

.real-town-reasons-list {
    grid-area: r;
    display: grid;
    grid-template-columns: 400px 400px 400px;
}

.real-town-reasons-item {
    min-height: 121px;
    padding: 184px 75px 79px 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container-advantage {
    min-height: 207px;
    padding: 98px 75px 79px 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.advantages-name,
.advantages-number,
.advantages-description {
    margin: 0;
    height: auto;
}

.advantages-item:nth-child(2) {
    margin: 0;
    padding: 0;
    grid-area: r2;
    display: grid;
    grid-template-columns: 400px 400px 400px;
}

.devil-bridge-img {
    grid-column: 1/3;
    display: block;
}

.advantages-item:nth-child(3) {
    grid-area: r3;
}

.advantages-item:nth-child(4) {
    grid-area: r4;
}

.advantages-item:nth-child(5) {
    grid-area: r5;
}

.real-town-reasons-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.advantages-list {
    list-style-type: none;
}

.search-hotel {
    padding: 91px 312px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.interested {
    margin: 0;
}

.interested-description {
    width: 625px;
    margin-top: 30px;
    margin-bottom: 58px;
}

.hotels-item {
    padding: 0;
    margin: 0;
}

.hotels-list {
    list-style-type: none;
    padding: 0;
}

.hotel-card {
    display: grid;
    grid-template-columns: auto 1fr 160px;
    column-gap: 37px;
    border-top: 1px solid #E6E6E6;
    padding: 0;
    margin: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: left;
}

.hotel-description {
    padding: 0;
    margin: 0;
    min-height: 120px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: auto 55px 37px;
    column-gap: 8px;
}

.hotel-name {
    grid-column: 1/3;
    margin: 0;
    padding: 0;
}

.hotel-type,
.hotel-price {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 23px;
}

.hotel-rank {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
}

.stars {
    background-image: url('../img/star2.svg');
    background-repeat: repeat-x;
    background-position-y: center;
    background-position-x: left;
    width: 24px;
    height: 18px;
}

.hotels-item:nth-child(1) .stars {
    width: 96px;
}

.hotels-item:nth-child(2) .stars {
    width: 72px;
}

.hotels-item:nth-child(3) .stars {
    width: 48px;
}

.hotels-item:nth-child(4) .stars {
    width: 48px;
}

.rank {
    display: block;
    background-color: #F2F2F2;
    border-radius: 4px;
    width: 160px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}

.button-more,
.button-favorite {
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
}

.pagination-item {
    display: block;
    width: 55px;
    height: 55px;
    background-color: #83B3D3;
    text-align: center;
    border-radius: 4px;
}

.pagination-current-item {
    background-color: #F2F2F2;
}

.main-index {
    text-align: center;
}

.page-header {
    color: #000000;
    background-color: #FFFFFF;
}

.navigation-link {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    text-align: center;
    background-color: #FFFFFF;
    text-decoration: none;
}

.button {
    font: inherit;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756257;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.navigation-link:hover,
.navigation-link:focus,
.navigation-link:active {
    color: rgba(0, 0, 0, 0.5);
}

.button:hover,
.button:active,
.button:focus,
.pagination-link:hover,
.pagination-link:active,
.pagination-link:focus,
.pages-link:hover,
.pages-link:active,
.pages-link:focus {
    color: #E6E6E6;
    text-decoration: underline;
}

.pages-item:nth-child(1):hover,
.pages-item:nth-child(1):active,
.pages-item:nth-child(1):focus {
    border-bottom: 2px solid #E6E6E6;
}

.pagination-current-link:hover,
.pagination-current-link:active,
.pagination-current-link:focus,
.phone-number:hover,
.phone-number:active,
.phone-number:focus {
    color: rgba(0, 0, 0, 0.5);
}

.welcome {
    background-image: url(../img/index-background.jpg);
}

.sedona-description,
.h2,
.interested {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(2) {
    background: #83B3D3;
    color: #FFFFFF;
}

.advantages-item:nth-child(2n+3) {
    background: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(1) ul {
    color: #000000;
    background-color: #ffffff;
}

.advantages-item:nth-child(1) .real-town-reasons-item:nth-child(2n+1) {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-last-child(2) {
    background: rgba(131, 179, 211, 0.2);
}

.advantages-name,
.reason-name {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
}

.advantages-list,
.real-town-reasons-list {
    font-size: 18px;
    line-height: 21px;
}

.contacts {
    position: relative;
}

.phone-number {
    position: absolute;
    top: 38px;
    left: 362px;
    font: inherit;
    color: #000000;
    text-decoration: none;
    font-size: 40px;
    line-height: 40px;
}

.mailing-button {
    background-color: #83B3D3;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.pages-item {
    display: inline-block;
    vertical-align: middle;
}

.pages-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.catalog-head {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #83B3D3;
    background: url(../img/catalog-background-filters.jpg);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    min-height: 338px;
    padding: 35px 72px;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 62px;
    margin-left: 80px;
    width: 160px;
}

.submit-button,
.reset-button {
    height: 48px;
    border: 0;
}

.submit-button {
    color: #ffffff;
    background-color: #83B3D3;
    line-height: 21px;
}

.reset-button {
    margin-top: 6px;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color: #ffffff;
}

.searched {
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    text-transform: uppercase;
    margin: 0;
}

.button-more {
    font-size: 16px;
    background: #756257;
    color: #ffffff;
    width: 150px;
}

.button-favorite {
    font-size: 16px;
    background-color: #83B3D3;
    color: #ffffff;
    width: 160px;
}

.favorited {
    background-color: #7DB54F;
}

.rank {
    text-align: center;
    text-transform: uppercase;
    background: #F2F2F2;
}

.pagination-link {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding-top: 15px;
}

.pagination-current-link {
    color: #000000;
    background-color: #F2F2F2;
}

.hotels-list {
    margin: 0;
    padding: 0;
}

.show-more {
    margin: 0;
    display: block;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.button-show-more {
    margin: auto;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    background-color: #83B3D3;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 625px;
    border: none;
}

.filter-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.inner-header {
    padding: 0;
    margin: 0;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    margin: 0;
}

.page-footer {
    text-align: center;
    font-size: 22px;
    line-height: 26px;
}

.hotel-name {
    font-weight: bold;
    font-size: 24px;
}

.search-hotel .button {
    font-size: 20px;
    line-height: 36px;
    width: 575px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
    margin: 0;
}

.num-per-page {
    font-size: 18px;
    line-height: 23px;
}

.mailing-text {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 40px;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    width: 18px;
    height: 27px;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
    background-image: url('../img/favourites.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    width: 31px;
    height: 27px;
}

.pages {
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 2px;
    margin-top: 0px;
    margin-bottom: 45px;
}

.pages-item {
    padding-right: 10px;
}

.pages-link {
    display: block;
}

.pages .pages-item:nth-child(1) .pages-link {
    min-width: 28px;
    min-height: 21px;
    background-image: url('../img/home2.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.links-list .links-item .button {
    display: block;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
}

.links-list .links-item:nth-child(1) .button {
    background-image: url('../img/twitter.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.links-list .links-item:nth-child(2) .button {
    background-image: url('../img/facebook.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.links-list .links-item:nth-child(3) .button {
    background-image: url('../img/youtube.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.mailing {
    padding: 94px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/footer-background.jpg);
    color: #ffffff;
}

.catalog {
    padding-top: 66px;
    background: none;
    color: #000000;
    padding-bottom: 136px;
}

.mailing .h2 {
    margin: 0;
}

.mailing .mailing-text {
    margin: 0;
    margin-top: 30px;
}

.mailing .mailing-form {
    margin: 0;
    margin-top: 45px;
}

.mailing-form {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    display: grid;
    gap: 0;
    grid-template-columns: 3fr 1fr;
    height: 60px;
}

.mailing-form .mailing-email {
    margin: 0;
    width: 100%;
    height: 60px;
}

.mailing-form .mailing-email .field {
    margin: 0;
    width: 555px;
    font: inherit;
    font-size: 18px;
    line-height: 26px;
    padding: 0 23px;
    border: 0;
    color: #000000;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    height: 60px;
}

.mailing-form .mailing-button {
    border: 0;
    border-radius: 0px 10px 10px 0px;
    font-size: 20px;
    line-height: 26px;
    height: 60px;
}

.navigation-item .button {
    display: inline-block;
    vertical-align: middle;
    width: 160px;
    height: 29px;
    padding-top: 8px;
    font-size: 16px;
    line-height: 21px;
}

.navigation-list:nth-child(1) .navigation-item {
    height: 46px;
    padding-top: 19px;
}

.navigation-list:nth-child(1) .navigation-item .navigation-link {
    height: 44px;
    background: none;
}

.navigation-link-current {
    border-bottom: 2px solid #756257;
}

.real-town-reasons-item:nth-child(1) {
    background-image: url(../img/housing.svg);
    background-repeat: no-repeat;
    background-position: center 89px;
}

.real-town-reasons-item:nth-child(2) {
    background-image: url(../img/food.svg);
    background-repeat: no-repeat;
    background-position: center 90px;
}

.real-town-reasons-item:nth-child(3) {
    background-image: url(../img/gift.svg);
    background-repeat: no-repeat;
    background-position: center 85px;
}

.filter-name {
    padding: 0;
    margin: 0;
}

.control {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    padding-left: 39px;
}

.control-input[type="checkbox"]+.control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #ffffff;
}

.control-input[type="radio"]+.control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
}

.control:hover .control-mark,
.control:active .control-mark,
.control:focus .control-mark {
    background-color: #83b3d3;
}

.control-input[type="checkbox"]:checked+.control-mark {
    background-image: url(../img/checked.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.control-input[type="radio"]:checked+.control-mark::before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: #3F5E72;
    border-radius: 50%;
    content: "";
}

.range-scale {
    margin-top: 30px;
    position: relative;
    height: 4px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: #ffffff;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.range-toggle:hover {
    background-color: #83B3D3;
}

.range-toggle:active,
.range-toggle:focus {
    outline: 3px solid #83B3D3;
}

.toggle-min {
    top: -8px;
    left: 0px;
}

.toggle-max {
    top: -8px;
    right: 0px;
}

.range-wrapper-inputs {
    display: flex;
    justify-content: center;
}

.cost::-webkit-outer-spin-button,
.cost::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.catalog-filter-label {
    display: flex;
    margin-right: 5px;
}

.range-input {
    width: 30px;
    padding: 0 2px;
    font: inherit;
    text-align: center;
    background-color: transparent;
    border: none;
    appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.mailing-form:hover,
.mailing-form:active,
.mailing-form:focus {
    border: 1px solid #83B3D3;
    border-radius: 10px;
}

.navigation-item {
    position: relative;
}

.popover {
    position: absolute;
    width: 398px;
    min-height: 232px;
    left: -190px;
    top: 48px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    z-index: 1;
    box-sizing: border-box;
    display: none;
}

.popover-open {
    display: block;
}

.favorite-hotel-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 350px;
}

.favorite-hotel-item {
    width: 350px;
    margin: 24px;
    margin-bottom: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 48px 1fr 16px;
    gap: 17px;
}

.favorite-hotel-description {
    vertical-align: middle;
}

.button-delete {
    width: 16px;
    background-color: #ffffff;
    background-image: url(../img/delete.svg);
    background-repeat: no-repeat;
    background-position: center 12px;
}

.favorite-hotel-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    padding: 0;
    margin: 0;
}

.favorite-hotel-type {
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 16px;
    line-height: 21px;
}

.all-favorite {
    display: inline-block;
    position: absolute;
    bottom: -2px;
    left: -2px;
    min-height: 20px;
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle;
    padding: 20px 120px;
    background-color: #756257;
    border-radius: 0px 0px 20px 20px;
}

.all-favotite-text {
    margin-top: 10px;
}

.triangle {
    width: 20px;
    height: 9px;
    background-image: url(../img/triangle.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -9px;
    left: 188px;
}

.modal-container {
    font: inherit;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.modal-container-close {
    display: none;
}

.modal {
    position: relative;
    margin: auto;
    width: 575px;
    min-height: 430px;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 60px 68px 70px 68px;
}

.modal-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    margin-bottom: 65px;
}

.modal-close-button {
    position: absolute;
    right: 70px;
    top: 60px;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background: #F2F2F2;
    border: none;
}

.modal-close-button:hover,
.modal-close-button:active,
.modal-close-button:focus {
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-close-button::before,
.modal-close-button::after {
    position: absolute;
    top: 24px;
    left: 18px;
    width: 16px;
    height: 2px;
    background-color: #242424;
    content: "";
}

.modal-close-button::before {
    transform: rotate(45deg);
}

.modal-close-button::after {
    transform: rotate(-45deg);
}

.modal-content {
    text-align: left;
}

.modal-form {
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    padding: 0;
    margin: 0;
}

.field-group {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 155px 420px;
    grid-template-rows: 50px auto;
    gap: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
}

.field-group:nth-of-type(3) {
    height: 50px;
    grid-template-columns: 155px 133px 153px 133px;
}

.field-group .field {
    font-weight: bold;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    background: #F2F2F2;
    border-radius: 4px;
}

.field-group .field[type="number"] {
    text-align: center;
}

.children {
    margin-left: 56px;
}

.form-comment {
    grid-row: 2;
    grid-column: 2;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.modal-form-submit {
    position: absolute;
    bottom: 70px;
    width: 575px;
    height: 60px;
    background-color: #83B3D3;
    font: inherit;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    border-radius: 10px;
    border: 0;
}

.form-comment-error {
    color: #ff0000;
}

.info {
    color: #ffffff;
    background-color: #83B3D3;
    width: 25px;
    height: 25px;
    border: 0;
    border-radius: 50%;
    margin-left: 4px;
}

.info:hover,
.info:active,
.info:focus {
    opacity: 0.7;
    color: #E6E6E6;
    text-decoration: underline;
}

.info-pop {
    z-index: 1;
    position: absolute;
    right: 100px;
    font-weight: normal;
    padding: 18px 22px 18px 18px;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    width: 216px;
    height: 107px;
    background: #333333;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: none;
}

.info-pop-open {
    display: block;
}

.modal-triangle {
    position: absolute;
    top: -9px;
    left: 110px;
    width: 20px;
    height: 10px;
    background-image: url(../img/modal-triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.field[type="number"] {
    position: relative;
    display: block;
}

.field:hover,
.field:active,
.field:focus {
    border: 2px solid #83B3D3;
}

.field[type="number"]::-webkit-outer-spin-button,
.field[type="number"]::-webkit-inner-spin-button {
    position: absolute;
    top: -40px;
    left: 55px;
    height: 130px;
    width: 50px;
    transform: rotate(90deg);
    opacity: 0;
    background: none;
    cursor: pointer;
}

.minus {
    display: block;
    position: absolute;
    left: 245px;
    width: 13px;
    height: 13px;
}

.plus {
    display: block;
    position: absolute;
    left: 325px;
    width: 13px;
    height: 13px;
}

.minus::before {
    position: absolute;
    top: 25px;
    width: 13px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
}

.plus::before {
    position: absolute;
    top: 25px;
    width: 13px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
}

.plus::after {
    position: absolute;
    top: 25px;
    width: 13px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    transform: rotate(90deg);
}

.minus-2 {
    z-index: 1;
    left: 530px;
}

.plus-2 {
    z-index: 1;
    left: 610px;
}