@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
}

.main-container {
    flex-grow: 1;
}

.main-navigation {
    display: flex;
    margin: 0 auto;
    width: 1056px;
}

.navigation-list {
    margin: 0;
    padding: 0;
}

.sedona-logo {
    margin: 0 auto;
}

.page-container {
    width: 1056px;
    margin: 0 auto;
}

.welcome {
    display: block;
    margin: 0 auto;
}

.advantages-list {
    margin: 0;
    padding: 0;
}

.page-footer-container {
    width: 1056px;
    display: flex;
    flex-direction: column;
}

.contacts {
    display: flex;
}

.contacts .phone-number {
    margin: 0 auto;
}

.filters-form {
    display: flex;
}

.hotel-list-head {
    display: flex;
}

.page-navigation {
    display: flex;
    margin: 0;
}

.hotels {
    display: flex;
    flex-direction: column;
}

.pagination {
    margin-right: auto;
    display: flex;
    gap: 8px;
}

.pagination-item {
    display: block;
    width: 55px;
    height: 55px;
    background-color: #83B3D3;
    text-align: center;
}

.pagination-current-item {
    background-color: #F2F2F2;
}

.main-index {
    text-align: center;
}

.page-header {
    color: #000000;
    background-color: #FFFFFF;
}

.navigation-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    text-align: center;
    background-color: #FFFFFF;
    text-decoration: none;
}

.button {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756257;
    font-weight: 700;
    font-size: 16px;
}

.welcome {
    background-image: url(../img/index-background.jpg);
}

.index-mailing {
    background-image: url(../img/footer-background.jpg);
}

.sedona-description,
.h2,
.interested {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(2) {
    background: #83B3D3;
    color: #FFFFFF;
}

.advantages-item:nth-child(2n+3) {
    background: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(1) ul {
    color: black;
    background-color: #ffffff;
}

.advantages-item:nth-child(1) .real-town-reasons-item:nth-child(2n+1) {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-last-child(2) {
    background: rgba(131, 179, 211, 0.2);
}

.advantages-name,
.reason-name {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
}

.advantages-list,
.real-town-reasons-list {
    font-size: 18px;
    line-height: 21px;
}

.phone-number {
    color: #000000;
    text-decoration: none;
    font-size: 40px;
    line-height: 40px;
}

.index-mailing {
    color: #ffffff;
}

.mailing-button {
    background-color: #83B3D3;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.pages-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.inner-header {
    color: #ffffff;
    background-color: #83B3D3;
}

.filters {
    background-color: #83B3D3;
    background: url(../img/catalog-background-filters.jpg);
    color: #ffffff;
}

.submit-button {
    color: #ffffff;
    background-color: #83B3D3;
    line-height: 21px;
}

.reset-button {
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 400;
    color: #ffffff;
}

.searched {
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
}

.button-more {
    font-size: 16px;
    background: #756257;
    color: #ffffff;
}

.button-favorite {
    font-size: 16px;
    background-color: #83B3D3;
    color: #ffffff;
}

.favorited {
    background-color: #7DB54F;
}

.rank {
    text-align: center;
    text-transform: uppercase;
    background: #F2F2F2;
}

.pagination-link {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    background-color: #83B3D3;
    color: #ffffff;
    text-decoration: none;
}

.pagination-current-link {
    color: #000000;
    background-color: #F2F2F2;
}

.button-show-more {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    background-color: #83B3D3;
    align-self: center;
}

.filter-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.page-footer {
    text-align: center;
    font-size: 22px;
    line-height: 26px;
}

.hotel-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
}

.search-hotel-button {
    font-size: 20px;
}

.num-per-page {
    font-size: 18px;
    line-height: 23px;
}

.mailing-text {
    font-size: 22px;
    line-height: 26px;
}